@model IEnumerable<ProtectorAPP.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="main-container">
    <div class="row bg-primary tittle d-flex justify-content-between">
        <div class="col text-white">
            <h1>Gestion de Usuarios</h1>
        </div>
        <div class="col">
            
        </div>
        <div class="col-auto py-2">
            <div class="btn text-white" style="background-color:#f97316">
                <i class="fas fa-plus"></i> Agregar nuevo
            </div>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/Usuarios/Index.css" />
}